<h1>Comments#create</h1>
<p>Find me in app/views/comments/create.html.erb</p>


<p>ip= <%= @ip %></p>
<p>name= <%= @name %></p>
<p>arti id= <%= @arti_id %></p>
<p>text= <%= @text %></p>
<p>params <%= @param.length %></p>

