<p id="notice"><%= notice %></p>

<div class="article_header">
	<p><%= link_to 'Dave Wu', root_path %>
  <h1><%= @article.title %></h1>
	<p><%= @article.created_at.strftime "%b %d, %Y" %> reads:<%= @article.reads %></p>
</div>

<div class="article_content">
  <%= raw(@article.content) %>
</div>