<p id="notice"><%= notice %></p>

<div class="article_header">
	<p><%= link_to 'Dave Wu', root_path %>
  <h1><%= @article.title %></h1>
	<p><%= @article.created_at.strftime "%b %d, %Y" %> reads:<%= @article.reads %></p>
</div>

<div class="article_content">
  <%= raw(@article.content) %>
</div>

<div class="comments">
	<% if @article.comments.length < 1 then %>
	  <p>No comment yet</p>
	<% else %>
	  <% @article.comments.each do |c| %>
		  <p class="commentor"><%= c.commentor %> At <%= c.created_at.strftime "%b %d, %Y" %></p>
		  <p class="comment_text">&quot;<%= c.content %>&quot;</p>
		<% end %>	
	<% end %>
</div>


<div class="commenting">
	<p>Leave your comment:</p>
	<%= form_tag(create_comment_path @article.id ) do %>
	  <%= label_tag(:commentor, 'Name:') %>
		<%= text_field_tag(:commentor) %><br/>
		<%= label_tag(:content, 'Comment:') %><br/>
		<%= text_area_tag(:content) %><br/>
		<%= recaptcha_tags %>
			
		<%= submit_tag 'Comment!' %>
	<% end %>	
</div>



