<%= form_for(@sitevisit) do |f| %>
  <% if @sitevisit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sitevisit.errors.count, "error") %> prohibited this sitevisit from being saved:</h2>

      <ul>
      <% @sitevisit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ip %><br>
    <%= f.text_field :ip %>
  </div>
  <div class="field">
    <%= f.label :ua %><br>
    <%= f.text_field :ua %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
