<p id="notice"><%= notice %></p>

<p>
  <strong>Ip:</strong>
  <%= @sitevisit.ip %>
</p>

<p>
  <strong>Ua:</strong>
  <%= @sitevisit.ua %>
</p>

<%= link_to 'Edit', edit_sitevisit_path(@sitevisit) %> |
<%= link_to 'Back', sitevisits_path %>
